* {
  font-family: "Roboto", sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.teacherInfoBack {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.teacherInfoPopUp {
  width: 650px;
  height: 350px;
  background: white;
  border: 1px solid black;
  margin: 200px auto;
  position: relative;
}

.headerOfModal {
  width: 650px;
  height: 50px;
  background-color: rgb(70, 70, 72);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  color: white;
}

.closePopUpTeacherInfoBtn {
  background-color: rgb(70, 70, 72);
  color: white;
  border: 0px;
}

.imgInCard {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 60px;
  left: 10px;
}

.teacherNameCard {
  position: absolute;
  left: 250px;
  top: 60px;
}

.subjectCard {
  position: absolute;
  left: 250px;
  top: 100px;
}

.countryCard {
  position: absolute;
  left: 250px;
  top: 130px;
}

.ageAndSexCard {
  position: absolute;
  left: 250px;
  top: 160px;
}

.mailCard {
  position: absolute;
  left: 250px;
  top: 190px;
}

.telephoneCard {
  position: absolute;
  left: 250px;
  top: 220px;
}

.paragraphCard {
  position: absolute;
  left: 10px;
  top: 270px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
