* {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .headerContent {
  width: 1000px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerContent img {
  width: 300px;
  height: 50px;
}
header .headerContent .rightSide {
  width: 350px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerContent .rightSide input {
  width: 220px;
  height: 40px;
}
header .headerContent .rightSide button {
  width: 95px;
  height: 40px;
  border: 0.3px solid black;
  background: white;
}
header .headerContent .rightSide button:hover {
  width: 95px;
  height: 40px;
  transition: 0.4s;
  border: 0.3px solid black;
  background: rgb(247, 84, 84);
  color: white;
}
header .blockUnderHeader {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
header .blockUnderHeader .blockUnderHeaderContent {
  width: 1000px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .blockUnderHeader .blockUnderHeaderContent .leftSide {
  width: 465px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .blockUnderHeader .blockUnderHeaderContent .leftSide a {
  text-decoration: none;
  color: red;
  font-size: 24px;
}
header .blockUnderHeader .blockUnderHeaderContent button {
  width: 170px;
  height: 50px;
  border: 0.3px solid black;
  background: white;
}
header .blockUnderHeader .blockUnderHeaderContent button:hover {
  width: 170px;
  height: 50px;
  transition: 0.4s;
  border: 0.3px solid black;
  background: rgb(247, 84, 84);
  color: white;
}
@media (max-width: 1000px) {
  header .blockUnderHeader {
    width: 100%;
  }
  header .blockUnderHeader .blockUnderHeaderContent {
    width: 100%;
  }
  header .blockUnderHeader .blockUnderHeaderContent .leftSide {
    width: 465px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 20px;
  }
  header .blockUnderHeader .blockUnderHeaderContent .leftSide a {
    text-decoration: none;
    color: red;
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .headerContent img {
    width: 140px;
  }
  header .headerContent .rightSide {
    width: 240px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .headerContent .rightSide input {
    width: 140px;
    height: 40px;
  }
  header .headerContent .rightSide button {
    width: 65px;
    height: 40px;
    border: 0.3px solid black;
    background: white;
  }
}
.topTeachersBlock {
  min-height: 880px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topTeachersBlock .topTeachersBlockContent {
  min-height: 880px;
  width: 1000px;
  background-color: white;
}
.topTeachersBlock .topTeachersBlockContent .horizontalLine {
  height: 1px;
  width: 500px;
  background-color: black;
  margin-top: 50px;
  margin-left: calc(50% - 250px);
}
.topTeachersBlock .topTeachersBlockContent h2 {
  font-size: 34px;
  margin-top: 40px;
  font-weight: bold;
  width: 210px;
  margin-left: calc(50% - 105px);
}
.topTeachersBlock .topTeachersBlockContent .form {
  margin-top: 50px;
  width: 1000px;
  float: left;
  display: flex;
  flex-direction: row;
}
.topTeachersBlock .topTeachersBlockContent .form .region,
.topTeachersBlock .topTeachersBlockContent .form .sex {
  width: 170px;
  border-right: 1px dashed rgb(12, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.topTeachersBlock .topTeachersBlockContent .form .region button,
.topTeachersBlock .topTeachersBlockContent .form .sex button {
  background-color: white;
  color: black;
  border: 0.1px solid rgb(117, 115, 115);
}
.topTeachersBlock .topTeachersBlockContent .form .region input,
.topTeachersBlock .topTeachersBlockContent .form .sex input {
  width: 100%;
  background-color: white;
  color: black;
  border: 0;
}
.topTeachersBlock .topTeachersBlockContent .form .region input:hover,
.topTeachersBlock .topTeachersBlockContent .form .sex input:hover {
  width: 100%;
  background-color: rgb(220, 212, 212);
  color: black;
  border: 0;
}
.topTeachersBlock .topTeachersBlockContent .form .age {
  width: 130px;
  height: 40px;
  border-right: 1px dashed rgb(17, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topTeachersBlock .topTeachersBlockContent .form .age button {
  background-color: white;
  color: black;
  border: 0.1px solid rgb(117, 115, 115);
}
.topTeachersBlock .topTeachersBlockContent .form .age input {
  width: 100%;
  background-color: white;
  color: black;
  border: 0;
}
.topTeachersBlock .topTeachersBlockContent .form .age input:hover {
  width: 100%;
  background-color: rgb(220, 212, 212);
  color: black;
  border: 0;
}
.topTeachersBlock .topTeachersBlockContent .form .preLastCheckboxBlock {
  width: 150px;
  height: 40px;
  border-right: 1px dashed rgb(17, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topTeachersBlock .topTeachersBlockContent .form .lastCheckboxBlock {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards {
  margin-top: 150px;
  min-height: 400px;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row {
  visibility: visible;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row .card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 0;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row .card img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row .card .addToFavBtn {
  border: 0.1px solid rgb(117, 115, 115);
  background-color: white;
  color: black;
  margin-right: 5px;
  margin-bottom: 3px;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row .card .addToFavBtn:disabled {
  opacity: 0.2;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row .card .infoButton {
  border: 0.1px solid rgb(117, 115, 115);
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-bottom: 3px;
}
.topTeachersBlock .topTeachersBlockContent .blockOfCards .row .card .infoButton:disabled {
  opacity: 0.2;
}

@media (max-width: 1000px) {
  .topTeachersBlock {
    width: 100%;
  }
  .topTeachersBlock .topTeachersBlockContent {
    width: 100%;
  }
  .topTeachersBlock .topTeachersBlockContent .horizontalLine {
    width: 380px;
    margin-left: calc(50% - 190px);
  }
  .topTeachersBlock .topTeachersBlockContent h2 {
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
    width: 185px;
    margin-left: calc(50% - 92.5px);
  }
  .topTeachersBlock .topTeachersBlockContent .form {
    width: 380px;
    margin-left: calc(50% - 190px);
  }
  .topTeachersBlock .topTeachersBlockContent .form .preLastCheckboxBlock,
  .topTeachersBlock .topTeachersBlockContent .form .lastCheckboxBlock {
    display: none;
  }
  .topTeachersBlock .topTeachersBlockContent .blockOfCards {
    width: 100%;
    border: 1px solid black;
  }
}
.statisticsBlock {
  width: 100%;
  min-height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statisticsBlock .statisticsBlockContnet {
  min-height: 620px;
  width: 1000px;
  background-color: white;
}
.statisticsBlock .statisticsBlockContnet .horizontalLine {
  height: 1px;
  width: 500px;
  background-color: black;
  margin-top: 50px;
  margin-left: calc(50% - 250px);
}
.statisticsBlock .statisticsBlockContnet h2 {
  font-size: 34px;
  margin-top: 40px;
  font-weight: bold;
  width: 140px;
  margin-left: calc(50% - 70px);
}
.statisticsBlock .statisticsBlockContnet #tableOfStats {
  margin-top: 40px;
  width: 1000px;
  border: 1;
}
.statisticsBlock .statisticsBlockContnet #tableOfStats,
.statisticsBlock .statisticsBlockContnet th,
.statisticsBlock .statisticsBlockContnet td {
  height: 35px;
  border: 1px solid rgb(198, 196, 196);
}
.statisticsBlock .statisticsBlockContnet th {
  background-color: rgb(82, 160, 160);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .statisticsBlock {
    width: 100%;
  }
  .statisticsBlock .statisticsBlockContnet {
    width: 100%;
  }
  .statisticsBlock .statisticsBlockContnet .horizontalLine {
    width: 380px;
    margin-left: calc(50% - 190px);
  }
  .statisticsBlock .statisticsBlockContnet h2 {
    font-size: 34px;
    margin-top: 40px;
    font-weight: bold;
    width: 140px;
    margin-left: calc(50% - 70px);
  }
  .statisticsBlock .statisticsBlockContnet table {
    margin-top: 40px;
    width: 100%;
    width: 390px;
  }
}
.sliderBlock {
  width: 100%;
  min-height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderBlock .sliderBlockContainer {
  width: 1000px;
  min-height: 470px;
  position: relative;
}
.sliderBlock .sliderBlockContainer .horizontalLine {
  position: absolute;
  height: 1px;
  width: 500px;
  background-color: black;
  top: 100px;
  left: calc(50% - 250px);
}
.sliderBlock .sliderBlockContainer h2 {
  font-size: 34px;
  margin-top: 40px;
  font-weight: bold;
  width: 140px;
  margin-left: calc(50% - 70px);
}
.sliderBlock .sliderBlockContainer .lol {
  margin-top: 50px;
  width: 100%;
}
.sliderBlock .sliderBlockContainer .lol .card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 0;
}
.sliderBlock .sliderBlockContainer .lol .card img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.sliderBlock .sliderBlockContainer .lol .card .addToFavBtn {
  border: 0.1px solid rgb(117, 115, 115);
  background-color: white;
  color: black;
  margin-right: 5px;
  margin-bottom: 3px;
  display: none;
}
.sliderBlock .sliderBlockContainer .lol .card .addToFavBtn:disabled {
  opacity: 0.2;
}
.sliderBlock .sliderBlockContainer .lol .card .infoButton {
  border: 0.1px solid rgb(117, 115, 115);
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-bottom: 3px;
  display: none;
}
.sliderBlock .sliderBlockContainer .lol .card .infoButton:disabled {
  opacity: 0.2;
}

footer {
  width: 100%;
  height: 150px;
}
footer .container {
  width: 1000px;
}
footer .container .blockUnderHeader {
  width: 100%;
}
footer .container .blockUnderHeader .blockUnderHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .blockUnderHeader .blockUnderHeaderContent .leftSide {
  width: 465px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container .blockUnderHeader .blockUnderHeaderContent .leftSide a {
  text-decoration: none;
  color: red;
  font-size: 24px;
}
footer .container .blockUnderHeader .blockUnderHeaderContent button {
  width: 170px;
  height: 50px;
  border: 0.3px solid black;
  background: white;
}
footer .container .blockUnderHeader .blockUnderHeaderContent button:hover {
  width: 170px;
  height: 50px;
  transition: 0.4s;
  border: 0.3px solid black;
  background: rgb(247, 84, 84);
  color: white;
}

.blockUnderCarousel {
  width: 100%;
  min-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockUnderCarousel .blockUnderCarouselContent {
  width: 1000px;
  min-height: 290px;
}
.blockUnderCarousel .blockUnderCarouselContent .horizontalLine {
  height: 1px;
  width: 500px;
  background-color: black;
  margin-top: 50px;
  margin-left: calc(50% - 250px);
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .blockUnderCarousel {
    width: 100%;
    min-height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blockUnderCarousel .blockUnderCarouselContent {
    width: 100%;
    min-height: 290px;
  }
  .blockUnderCarousel .blockUnderCarouselContent .horizontalLine {
    width: 380px;
    margin-left: calc(50% - 190px);
  }
}
.modal-body {
  visibility: visible;
}
.modal-body #modalImg {
  width: 100px;
  height: 100px;
}/*# sourceMappingURL=style.css.map */