* {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .headerContent {
    width: 1000px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 300px;
      height: 50px;
    }

    .rightSide {
      width: 350px;
      height: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: 220px;
        height: 40px;
      }

      button {
        width: 95px;
        height: 40px;
        border: 0.3px solid black;
        background: white;
      }
      button:hover {
        width: 95px;
        height: 40px;
        transition: 0.4s;
        border: 0.3px solid black;
        background: rgb(247, 84, 84);
        color: white;
      }
    }
  }

  .blockUnderHeader {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .blockUnderHeaderContent {
      width: 1000px;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .leftSide {
        width: 465px;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          color: red;
          font-size: 24px;
        }
      }

      button {
        width: 170px;
        height: 50px;
        border: 0.3px solid black;
        background: white;
      }
      button:hover {
        width: 170px;
        height: 50px;
        transition: 0.4s;
        border: 0.3px solid black;
        background: rgb(247, 84, 84);
        color: white;
      }
    }
  }

  // __________________________________________headerADAPTIVE_____________________________________
  @media (max-width: 1000px) {
    .blockUnderHeader {
      width: 100%;

      .blockUnderHeaderContent {
        width: 100%;

        .leftSide {
          width: 465px;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          padding-left: 20px;

          a {
            text-decoration: none;
            color: red;
            font-size: 20px;
          }
        }
      }
    }
  }
}

// __________________________________________headerADAPTIVE_____________________________________
@media (max-width: 1000px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .headerContent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 140px;
      }

      .rightSide {
        width: 240px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          width: 140px;
          height: 40px;
        }
        button {
          width: 65px;
          height: 40px;
          border: 0.3px solid black;
          background: white;
        }
      }
    }
  }
}

.topTeachersBlock {
  min-height: 880px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .topTeachersBlockContent {
    min-height: 880px;
    width: 1000px;
    background-color: white;

    .horizontalLine {
      height: 1px;
      width: 500px;
      background-color: black;
      margin-top: 50px;
      margin-left: calc(50% - 500px / 2);
    }

    h2 {
      font-size: 34px;
      margin-top: 40px;
      font-weight: bold;
      width: 210px;
      margin-left: calc(50% - 210px / 2);
    }

    .form {
      margin-top: 50px;
      width: 1000px;
      float: left;
      display: flex;
      flex-direction: row;

      .region,
      .sex {
        width: 170px;
        border-right: 1px dashed rgb(12, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;

        button {
          background-color: white;
          color: black;
          border: 0.1px solid rgb(117, 115, 115);
        }

        input {
          width: 100%;
          background-color: white;
          color: black;
          border: 0;
        }

        input:hover {
          width: 100%;
          background-color: rgb(220, 212, 212);
          color: black;
          border: 0;
        }
      }

      .age {
        width: 130px;
        height: 40px;
        border-right: 1px dashed rgb(17, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
          background-color: white;
          color: black;
          border: 0.1px solid rgb(117, 115, 115);
        }

        input {
          width: 100%;
          background-color: white;
          color: black;
          border: 0;
        }

        input:hover {
          width: 100%;
          background-color: rgb(220, 212, 212);
          color: black;
          border: 0;
        }
      }

      .preLastCheckboxBlock {
        width: 150px;
        height: 40px;
        border-right: 1px dashed rgb(17, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .lastCheckboxBlock {
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    .blockOfCards {
      margin-top: 150px;
      min-height: 400px;

      .row {
        visibility: visible;

        .card {
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
          border: 0;

          img {
            height: 100px;
            width: 100px;
            border-radius: 50px;
          }

          .addToFavBtn {
            border: 0.1px solid rgb(117, 115, 115);
            background-color: white;
            color: black;
            margin-right: 5px;
            margin-bottom: 3px;
          }

          .addToFavBtn:disabled {
            opacity: 0.2;
          }

          .infoButton {
            border: 0.1px solid rgb(117, 115, 115);
            background-color: white;
            color: black;
            margin-left: 5px;
            margin-bottom: 3px;
          }

          .infoButton:disabled {
            opacity: 0.2;
          }
        }
      }
    }
  }
}

// __________________________________________topTeachersBlockADAPTIVE_____________________________________
@media (max-width: 1000px) {
  .topTeachersBlock {
    width: 100%;

    .topTeachersBlockContent {
      width: 100%;

      .horizontalLine {
        width: 380px;
        margin-left: calc(50% - 380px / 2);
      }

      h2 {
        font-size: 30px;
        margin-top: 40px;
        font-weight: bold;
        width: 185px;
        margin-left: calc(50% - 185px / 2);
      }

      .form {
        width: 380px;
        margin-left: calc(50% - 380px / 2);

        .preLastCheckboxBlock,
        .lastCheckboxBlock {
          display: none;
        }
      }

      .blockOfCards {
        width: 100%;
        border: 1px solid black;
      }
    }
  }
}

.statisticsBlock {
  width: 100%;
  min-height: 620px;

  display: flex;
  justify-content: center;
  align-items: center;

  .statisticsBlockContnet {
    min-height: 620px;
    width: 1000px;
    background-color: white;

    .horizontalLine {
      height: 1px;
      width: 500px;
      background-color: black;
      margin-top: 50px;
      margin-left: calc(50% - 500px / 2);
    }

    h2 {
      font-size: 34px;
      margin-top: 40px;
      font-weight: bold;
      width: 140px;
      margin-left: calc(50% - 140px / 2);
    }

    #tableOfStats {
      margin-top: 40px;
      width: 1000px;
      border: 1;
    }

    #tableOfStats,
    th,
    td {
      height: 35px;
      border: 1px solid rgb(198, 196, 196);
    }

    th {
      background-color: rgb(82, 160, 160);
      cursor: pointer;
    }
  }
}
// __________________________________________statisticsBlockADAPTIVE_____________________________________
@media (max-width: 1000px) {
  .statisticsBlock {
    width: 100%;

    .statisticsBlockContnet {
      width: 100%;

      .horizontalLine {
        width: 380px;
        margin-left: calc(50% - 380px / 2);
      }

      h2 {
        font-size: 34px;
        margin-top: 40px;
        font-weight: bold;
        width: 140px;
        margin-left: calc(50% - 140px / 2);
      }

      table {
        margin-top: 40px;
        width: 100%;
        width: 390px;
      }
    }
  }
}

.sliderBlock {
  width: 100%;
  min-height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;

  .sliderBlockContainer {
    width: 1000px;
    min-height: 470px;
    position: relative;

    .horizontalLine {
      position: absolute;
      height: 1px;
      width: 500px;
      background-color: black;
      top: 100px;
      left: calc(50% - 500px / 2);
    }

    h2 {
      font-size: 34px;
      margin-top: 40px;
      font-weight: bold;
      width: 140px;
      margin-left: calc(50% - 140px / 2);
    }

    .lol {
      margin-top: 50px;
      width: 100%;

      .card {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        border: 0;

        img {
          height: 100px;
          width: 100px;
          border-radius: 50px;
        }

        .addToFavBtn {
          border: 0.1px solid rgb(117, 115, 115);
          background-color: white;
          color: black;
          margin-right: 5px;
          margin-bottom: 3px;
          display: none;
        }

        .addToFavBtn:disabled {
          opacity: 0.2;
        }

        .infoButton {
          border: 0.1px solid rgb(117, 115, 115);
          background-color: white;
          color: black;
          margin-left: 5px;
          margin-bottom: 3px;
          display: none;
        }

        .infoButton:disabled {
          opacity: 0.2;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 150px;

  .container {
    width: 1000px;

    .blockUnderHeader {
      width: 100%;

      .blockUnderHeaderContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftSide {
          width: 465px;
          height: 120px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          a {
            text-decoration: none;
            color: red;
            font-size: 24px;
          }
        }

        button {
          width: 170px;
          height: 50px;
          border: 0.3px solid black;
          background: white;
        }
        button:hover {
          width: 170px;
          height: 50px;
          transition: 0.4s;
          border: 0.3px solid black;
          background: rgb(247, 84, 84);
          color: white;
        }
      }
    }
  }
}

// __________________________________________carouselBlockADAPTIVE_____________________________________
@media (max-width: 1000px) {
}

.blockUnderCarousel {
  width: 100%;
  min-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;

  .blockUnderCarouselContent {
    width: 1000px;
    min-height: 290px;

    .horizontalLine {
      height: 1px;
      width: 500px;
      background-color: black;
      margin-top: 50px;
      margin-left: calc(50% - 500px / 2);
      margin-bottom: 40px;
    }
  }
}

// __________________________________________blockUnderCarouselADAPTIVE_____________________________________
@media (max-width: 1000px) {
  .blockUnderCarousel {
    width: 100%;
    min-height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;

    .blockUnderCarouselContent {
      width: 100%;
      min-height: 290px;

      .horizontalLine {
        width: 380px;
        margin-left: calc(50% - 380px / 2);
      }
    }
  }
}

.modal-body {
  visibility: visible;

  #modalImg {
    width: 100px;
    height: 100px;
  }
}
